* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}


.wrapper {
	margin: 50px auto;
	width: 700px;
}

h1 {margin-bottom: 30px;}

ul {
	margin-bottom: 	30px;
	list-style: none;
	border: 1px solid #333;
}

ul li {
	margin-bottom: 15px;
	padding: 15px 20px;
}

ul li.active {
	color: #fff;
	background: #333;
}

ul li:last-child {margin-bottom: 0;}

input {
	display: inline-block;
	padding: 15px 20px;
	margin-bottom: 	10px;
	background: transparent;
	border: 1px solid #333;
	cursor: pointer;
	outline: none;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}

input:hover,
input:focus {
	background: #333;
	color: #fff;
}